site_name: hydro-opendata
site_description: "可用于水文学科学计算的开放数据的获取、管理和使用路径及方法。"
site_author: zjf014
site_url: https://zjf014.github.io/hydro-opendata
repo_url: https://github.com/zjf014/hydro-opendata

copyright: "Copyright &copy; 2023 - 2023 Jianfeng Zhu"

nav:
    - Home: index.md
    - Installation: installation.md
    - Modules:
        - Downloader: downloader.md
        - Processor: processor.md
        - Stac: stac.md
        - S3api: s3api.md
        - GISTools: gistools.md
    # - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/zjf014/hydro-opendata/issues
    # - Examples:
    #     - examples/intro.ipynb
    - API Reference:
        - Downloader module: 
            - Downloader: api/downloader.md
            - DEM: api/dem.md
        - Stac module:
            - minio: api/minio.md
        - S3api module:
            - ear5: api/era5.md
            - gpm: api/gpm.md
            - gfs: api/gfs.md
    - Resources:
          - hydroGIS: hydrogis.md

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    logo: assets/logo.png
    favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    # custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    # - git-revision-date-localized:
    #       enable_creation_date: true
    #       type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          # ignore_h1_titles: True
          # execute: True
          # allow_errors: false
          # ignore: ["conf.py"]
          # execute_ignore: ["*ignore.ipynb"]
          
markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

